#header{
    margin: 10vh 0vw 20vh 0vw;
}

#difficulty_box{
    margin: 10vh 6vw 10vh 6vw;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 50vh;
}

.difficulty{
    width: 30vw;
    height: 10vh;
    border: 0px;
    border-radius: 10px;
}

.difficulty:hover {
    background-color: #b4b4b4;
}


